= render partial: "shared/side_bar"
.right
  .right__header
    .right__header__group
      = @group.name
      .right__header__group__edit
        = link_to "edit", edit_group_path(params[:group_id]), method: :get
    .right__header__members
      Member: 
      - @group.users.each do |user|
        = user.name
  .right__contents
    = render @messages
  .right__footer
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'